.infoCompanyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    width: 90%;
    height: 70vh;
    border: solid 1px rgb(146, 146, 146);
    margin: auto;
    border-radius: 25px 10px 10px 25px;
    box-shadow: 0px 0px 15px rgb(75, 75, 75);
}
.infoCompanyContainer::-webkit-scrollbar{
  width: 10px;
}

.infoCompanyContainer::-webkit-scrollbar-thumb{
  background-color: #c90000;
 border-radius: 5px;
}

.infoCompanyContainer::-webkit-scrollbar-thumb:hover{
  background-color: #dbba00;
}


.labelContainer {
    display: flex;
    padding: 10px;
    width: 550px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid hsl(0, 0%, 0%, 0.1);
    justify-content: space-between;
    
}


.labelContainerimg {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
    align-items: center;
    border: 1px solid hsl(0, 0%, 0%, 0.1);
    justify-content: space-between;
}

.labelContainerimg img {
width: 150px;
}


.labelContainer input {
   
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    margin-left: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
 
  .labelContainer input:focus {
    outline: none;
    border-color: #c90a06;
  }
  .labelContainer button {
    padding: 10px 20px;
    background-color: #c90a06; 
    color: white; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .labelContainer button:hover {
    background-color: #f3f3f3;
    color: #c90a06;
    border: solid 1px #c90a06 ;
  }
  .labelContainerimg button {
    
    padding: 10px 20px;
    background-color: #c90a06;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .labelContainerimg button:hover {
    background-color: #f3f3f3;
    color: #c90a06;
    border: solid 1px #c90a06 ;
  }