.mainContainer{
    display: grid;
}
.linktocreate{
  margin: 0% 0% 0% 6.5%;
}

.mainContainer button{
    padding: 5px 0px;
    width: 200px;
    font-size: 20px;
    background-color: #ff4646;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);    
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgb(126, 126, 126);
  }
  
  .mainContainer button:hover {
    background-color: #cc0000;
  }

.cardMenusContainer2{
 overflow-y: auto;
 width: 80%;
 height: 70vh;
 margin-left: 5%;
 margin-top: 20px;
 border-bottom: solid 1px rgb(168, 168, 168);
 border-top: solid 1px rgb(168, 168, 168);
 box-shadow: 0px 0px 15px rgb(167, 167, 167);
 border-radius: 10px;
}

.cardMenusContainer2::-webkit-scrollbar{
    width: 10px;
}

.cardMenusContainer2::-webkit-scrollbar-thumb{
    background-color: #c90000;
   border-radius: 5px;
}

.cardMenusContainer2::-webkit-scrollbar-thumb:hover{
    background-color: #dbba00;
}
.custom-modal-button{
  margin-left: 80%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #ff5d5d;
  padding: 10px 15px; 
  border: none; 
  border-radius: 50px; 
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}
.custom-modal-button:hover{
  background-color: #ac0000;
}

.custom-modal2{
  margin-top: -150px;
}