.bodyIngreso {
    width: 350px;
    height: 97%;
  /*  border: 2px rgba(255, 0, 0, 0.336) groove;*/
    display: flex;
    flex-direction: column; /* Establecer dirección de columna para que los elementos se alineen verticalmente */
    align-items: center; /* Centrar horizontalmente en el eje X */
    justify-content: center; /* Centrar verticalmente en el eje Y */
    border-radius: 20px;
}

.imageningreso {
    width: 250px;
   
}

.contenedoringreso {
    display: flex;
    flex-direction: column; /* Establecer dirección de columna para que los elementos se alineen verticalmente */
    align-items: center; /* Centrar horizontalmente en el eje X */
    justify-content: center; /* Centrar verticalmente en el eje Y */
}

.Grupoinput {
    display: flex;
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente los elementos */
    border: 2px groove gainsboro;
    border-radius: 10px;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    width: 80%;
}

.Grupoinput input {
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
    font-size: 16px;
    text-align: justify;
}

.Grupoinput img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.verocultar {
    cursor: pointer;
}

.centrarlogogoogle {
    display: flex;
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente los elementos */
    border-radius: 10px;
    width: 175px;
    height: 30px;
    margin-top: 20px;
    padding: 4px;
    border: 2px gainsboro groove;
    cursor: pointer;
}
.centrarlogogoogle img {
    width: 25px;
}

.btn_ingreso{
    width: 100px;
    height: 40px;
    border: 2px red solid;
    display: flex;
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente los elementos */
    background-color: red;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}
.btn_ingreso:hover{
    background-color: yellowgreen;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px red solid;
    cursor: pointer;
}

.espacioError{
    width: 100%;
    height: 40px;
}
.olvidastekey{
    margin: 5px;
    padding: 5px;
    color: black;
    font-weight: bolder;
}
.olvidastekey:hover{
    cursor: pointer;
    text-decoration: underline;
    color: brown;
}


.seleccion{
    font-weight: bolder;
}
.ver{
    cursor: pointer;
}




/* Boton para iniciar */
.btn {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    /*-moz-user-select: toggle;*/
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px 15px;
    background-color:red; /* #fff;*/
    color: white;/* #666;*/
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
  }
  .btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }
  .btn--large {
    width: 50%;
  }
  .btn--radius {
    border-radius: 36px;
  }


  /* link a*/


  .Registrate {
    position: relative;
    display: block;
    padding: 2px;
    margin-top: 10px;
    color: red;
    font-weight: bolder;
  }
  
  .Registrate::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #ffc400, #ff0000);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .Registrate:hover{
    cursor: pointer;

  }
  
  .Registrate:hover::before {
    
    transform: scaleX(1);
  }
  
  
  