.account-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  text-align: center;
  width: 100%;
}

.profile-image-container {
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.profile-placeholder {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin-bottom: 15px;
}

.menu ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu ul li a:hover {
  background-color: #e9e9e9;
}

.account-info {
  flex: 1;
  padding: 20px;
}

.account-info h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.input-group-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group1 label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group1 input {
  border-radius: 4px;
  width: 100%;
}

.input-group-gender label {
  font-weight: bold;
  margin-right: 10px;
}

.gender-options label {
  margin-right: 20px;
}

.gender-options input[type="radio"] {
  margin-right: 5px;
}

.button-group {
  margin-top: 35px;
  display: flex;
  gap: 30px;
}

.update-button,
.home-button {
  background-color: #ff5a00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button:hover,
.home-button:hover {
  background-color: #e04a00;
}

.profile-header img {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
