.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.4s;
}

.scroll-to-top button {
    display: inline-block;
    appearance: none;
    background-color: #ff3239;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 300px;
    font-size: 16px;
}

.scroll-to-top button:hover {
    background-color: #ff5a5f;
}

.scroll-to-top.show {
    opacity: 1;
}