.cardMenuContainer img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cardMenuContainer {
  color: black;
  background: rgba(233, 233, 233, 0.8);
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 2%;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  a {
    text-decoration: none;
  }
}

.cardMenuContainer h4 {
  display: flex;
  justify-content: right;
  margin: 10px;
}
