.navbarMenuContainer {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchContainer input[type="search"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.searchButton {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton p {
  margin: 0;
}

.navbarMenuSelect {
  overflow: auto;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.navbarMenuSelect > div {
  margin-bottom: 10px;
}

.customSection button,
.navbarMenuSelect select {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.navbarMenuSelect button span,
.navbarMenuSelect select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarMenuSelect ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarMenuSelect ul li {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.navbarMenuSelect ul li:hover {
  background-color: #f0f0f0;
}


select:focus,
button:focus {
  outline: none;
}

.navbarMenuSelect span{
  cursor: pointer;
}
.navbarMenuSelect span:hover{
  background-color: #d8d8d8;
  border-radius: 5px;
  padding: 2px;
  transition: 0.3s ease-in-out;
}
.span-active, .span-range-active {
  background-color: #ff5a60b2;
  border-radius: 5px;
  padding: 2px;
}