.navbarMenuContainer {
  display: flex;
  flex-direction: column;
 
  margin-left: 20px;
  min-width: 250px
}

.navbarMenuContainer form {
  position: relative;
  height: 5%;
}
.navbarMenuContainer .searchContainer {
  position: relative;
}

.navbarMenuContainer input {
  font-size: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
}

.searchContainer button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px 20px;
  border: none;
  width: 100px;
  z-index: 5;
  background-color: #c90a06;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgb(196, 196, 196);
}

.searchContainer button:hover {
  background-color: #f4ca0e;
  border: 1px solid #c90a06;
}
.navbarMenuSelect {
  cursor: pointer;
  margin-top: 40px;
  padding: 25px;
  font-size: 18px;
  display: grid;
  background-color: #f5f5f5;
  border: 1px solid rgb(211, 210, 210);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbarMenuContainer ul li {
  list-style: none;
  padding: 10px;
}

.navbarMenuContainer li:hover {
  background-color: #c90a06;
}

.searchContainer img {
  height: 70%;

  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbarMenuSelect button{
    padding: 10px 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    font-size: 18px;
    background-color: #c90a06;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
  }
  
  .navbarMenuSelect button:hover {
    background-color: #f4ca0e;
    border: 1px solid #c90a06;
  
}