.navbarMenuContainer {
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchContainer input[type="search"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.searchButton {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

.searchButton p {
  margin: 0;
}

.navbarMenuSelect {
  height: 27.5vh;

  min-height: 80px;
  display: flex;
  flex-direction: column;
}
.navbarMenuSelect::-webkit-scrollbar {
  width: 8px;
  scroll-margin-top: 200px;
}
.navbarMenuSelect::-webkit-scrollbar-thumb {
  background-color: #c90000;
  border-radius: 5px;
}

.navbarMenuSelect::-webkit-scrollbar-thumb:hover {
  background-color: #dbba00;
}

.navbarMenuSelect > div {
  margin-bottom: 10px;
}

.customSection button,
.navbarMenuSelect select {
  margin-bottom: 15px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
}

.navbarMenuSelect button span,
.navbarMenuSelect select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarMenuSelect ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarMenuSelect ul li {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.navbarMenuSelect ul li:hover {
  background-color: #f0f0f0;
}

select:focus,
button:focus {
  outline: none;
}

.navbarMenuSelect span {
  cursor: pointer;
}
