.BodyLogin {
    width: 100%;
    height: 100vh;
    margin: 0;    
   
    display: flex;
}

.izquierdaGeneral {
    width: 50%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: rgb(145, 16, 16) 4px groove;
    background: url('../Login_imagenes/mano-guantes-hamburguesa-hamburguesa-carne-fondo-negro_140725-303.jpg') no-repeat center center;
    background-size: cover;
}

.carrucel {
    position: relative; /* Asegura que el carrusel se posicione correctamente */
    z-index: 3; /* Asegura que el carrusel esté encima de los pseudo-elementos */
}

.derechaGeneral {
    width: 50%;
    height: 100%;
    
    align-items: center;
    justify-content: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
