.cardMenusContainer{
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  margin-bottom: 30px;
}

.buttonMenus {
  margin-left: 100px;
  padding:15px;
  border: none;
  width: 100%;
  font-size: 18px;
  background-color: #c90a06;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgb(196, 196, 196);
}
.buttonMenus:hover {
  background-color: #f4ca0e;
  border: 1px solid #c90a06;

}
