.buttonMenus {
  font-size: 25px;
  margin-left: 150px;
  margin-top: 1%;
  width: 170px;
  height: 100px;
  border: none;
  border-radius: 10px;
  background-color: #f3f4f4;
  cursor: pointer;
  margin-top: 30px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}
.buttonMenus:hover {
  background-color: #c90a06;
}
