.cardMenuContainer {
  background: rgba(233, 233, 233, 0.8);
  text-align: left;
  width: 300px;
  height: 350px;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardLink {
  display: block;
  text-decoration: none;
  color: black;
}

.cardImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 10px;
}

.cardTitle {
  margin-top: 0;
}

.cardDescription {
  color: gray;
}

.cardPrice {
  margin-bottom: 0;
}



.buttonDecInc-Menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  width: 70px;
  height: 30px;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(104, 16, 16);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.buttonDecInc-Menu label {
  border: none;
  background: none;
  padding: 0;
}


.buttonDecInc-Menu:hover {
  background-color: #c90a06;
}
