.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.OrdenarCompra {
  display: flex;
  width: 100%; /* Ajustar al 100% del contenedor padre */
  height: 30px;
  align-items: center;
}
.botonesCarrito {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-end; /* Alinea el contenido a la derecha */
  flex-shrink: 0; /* Evita que el contenedor se reduzca */
  flex-grow: 1; /* Permite que el contenedor crezca si es necesario */
  margin-right: 0px;
  
  justify-content: center;
 
 
}

.agregarCarritoTitulo {
  text-align: center;
  margin-bottom: 2px; /* Espacio entre el título y los botones */
  font-size: 14px; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
}
.botones-flex{
  display: flex;
}

.buttonContainer {
  display: flex;
  align-items: center;
  background-color: #333;

}

.aumentardisminuir {
  width: 30px;
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
}

.aumentardisminuir:first-of-type {
  border-radius: 4px 0 0 4px;
}

.aumentardisminuir:last-of-type {
  border-radius: 0 4px 4px 0;
}

.aumentardisminuir:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aumentardisminuir:active {
  background-color: #d0d0d0;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.aumentardisminuir:disabled {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #999;
  cursor: not-allowed;
}

.inputcard {
  width: 30px;
  height: 25px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
  background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-left: none; /* Remove left border to connect with decrement button */
  border-right: none; /* Remove right border to connect with increment button */
}
