.menuContainer {
  display: grid;
  
}

.menuSupContainer {
  display: flex;
}

.cardRestContainer {
  margin-right: 20px;
}

.navCardContainer {
  display: flex;
  margin-top: 50px;
}

.cardsViewMenusSelectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardsMenusSelectContainer{
  display: flex;
}

.CardViewMenuContainer{
  display: grid;
  justify-items: flex-start;
  width: 100%;
  margin-left: 100px;
}

.buttonBackMenu{
position: absolute;
left: 2%;


}
.buttonBackMenu button{
    padding: 10px 20px;

    border: none;
    width: 100px;
    font-size: 20px;
    z-index: 5;
    background-color: #c90a06;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
  }
  
  .buttonBackMenu button:hover {
    background-color: rgb(255, 255, 255);
    color: #c90a06;
  }

  .CardsListMenuContainer{
    display: grid;
    justify-items: flex-start;
  }

  .navBarContainer{
    width: 30%;
  }
  .infoRest{
    background-color: #c90a06;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .infoRestImg{
    
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0, 0.2);
    margin: 10px
  }

  .infoRestImg img{
    
    height: 100px;
    width: 100%;
    object-fit: contain;
    
  }
