.menuContainer {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.menuSupContainer {
  display: flex;
  justify-content: flex-start;
}

.cardRestContainer {
  margin-right: 20px;
}

.navCardContainer {
  display: flex;
  margin-top: 50px;
}

.cardMenusContainer {
  display: flex;
  align-items: center;
}

