.menuContainer {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.navCardContainer {
  display: flex;
  margin-top: 50px;
}
.menuSupContainer {
  display: flex;
  justify-content: flex-start;
}

.cardMenusContainer {
  display: flex;
  align-items: center;
}
.buttonBack{
  display: flex;
  padding-bottom: 30px;

}
.buttonBack button{
    padding: 10px 20px;

    border: none;
    width: 100px;
    font-size: 20px;
    z-index: 5;
    background-color: #c90a06;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
  }
  
  .buttonBack button:hover {
    background-color: #f4ca0e;
    border: 1px solid #c90a06;
  }
