.cardResContainer {
    margin: 10px;
    color: black;
    background: rgba(233, 233, 233, 0.8);
    text-align: left;
    width: 350px; 
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: border 0.3s ease;
    border-radius: 10px;
  }
  
  .cardResContainer img {
    object-fit: cover;
    width: 100%;
    height: 160px;
  }
  
  .textContainer {
    padding: 10px;
  }
  
  .restaurantName {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .restaurantType {
    color: gray;
    margin-bottom: 10px;
  }
  
  .cardValoration {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
  }
  
  .cardResContainer:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #ff0000, #ffc400, #ff0000);
    border-image-slice: 1;
  }