.cardResContainer {
  margin: 10px;
  background-color: #ffffff;
  text-align: left;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.cardResContainer img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0 0;
}

.textContainer {
  padding: 5px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.restaurantName {
  font-size: 1.2rem;
  color: #333333;
}

.cardValoration {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #ffcc00;
}

.restaurantType {
  color: #666666;
  font-size: 0.9rem;
  padding: 10px;
}

.cardResContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ratingContainer h3{
  color: #ffcc00;
}
