.restaurantAdminContainer{
    display: block;
    }
    
    
    .cardRestaurant{
        display: flex;
        margin: 40px 20px;
        background-color: white;
        padding: 5px;
        /* padding: 15px; */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: box-shadow 0.3s ease, border-color 0.3s ease; 
    }
    
    
    .cardRestaurant:hover{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border: solid 1px #ff3239;
    }
    
    .resImage{
      border: solid 1px rgb(0, 0, 0, 0.2);
      margin: 10px;
      min-width: 150px;
      max-width: 200px;
      /* width: 10%; */
      /* height: 200px; */
      overflow: hidden;
    
    }
    
    .resImage img {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        height: 100%;
        object-fit:contain;
    }
    
    .infoContainer{
        display: flex;
        margin-left: 50px;
        flex-wrap: wrap;
       
    }
    
    .resName {
        display: flex;
        width: 250px;
        align-items: center;
    
    }
    
    .resName p {
     margin-left: 20px;
    }
    
    .cardRestaurant.inactive {
        background-color: #d6d6d6; /* Cambia el color de fondo a gris */
      }
    
      .cardRestaurant.inactive img {
        filter: grayscale(100%); /* Aplica el filtro de escala de grises al 100% */
      }
    
      .buttonactdesMenus{
        width: 50px;
        height: 40px;
        margin-right: 10px;
        border: none;
        background: none;
      }
    
      .buttonactdesMenus img {
        width: 100%;
    overflow:auto;
    cursor: pointer;
    
    
    
      }
   
    
      