.cardPagosContainer img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.cardPagosContainer {
  margin: 10px;
    color: black;
    background: rgba(233, 233, 233, 0.8);
    text-align: left;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardPagosContainer h4 {
  display: flex;
  justify-content: right;
 
}

.textContainer {
  margin-left: 15px;
}
