
.form, .menuitemcontainer{
    border: solid 1px #b3b3b3;
    width: 60%;
    margin: 20px 0% 100px 20%;
    display: grid;
    flex-direction: column;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.menuitemcontainer{
    margin-bottom: 100px;
}
.form label, .menuitemcontainer label{
    margin-top: 10px;
}
.menuitemcontainer select{
    margin-top: 100px;    
}
.form input, .menuitemcontainer input, .menuitemcontainer select{
    width: 200px;
    margin: auto;
}

.form button, .menuitemcontainer button{
    width: 150px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e9e9e9;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px #a5a5a5;
    font-size: 1.1rem;
}
.form button:hover, .menuitemcontainer button:hover{
    background-color: #c90a06;
}

.footpage{
    padding-top: 40px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
.error-message{    
    font-size: 0.9rem;
    color: rgb(177, 0, 0);
    font-weight: bold;
    margin-top: 10px;
}