.sidebarContainer{
    display: flex;
    
}
.OptionContainer{
    width: 25%;
    height: 100rem;
    background-color: brown;
    min-width: 200px;

}
.OptionContainer ul{
    list-style-type: none;
    padding: 0;
}



.OptionContainer ul li{
    display: grid;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}

.OptionContainer ul li:hover{
    background-color: rgb(0, 125, 235);
}
.content {
    width: 100%;
    
}

.cardRestConainerSidebar {
width:100px;
padding: 0px 20px;

}
.cardRestConainerSidebar img {
        width: 100%;
        height: 100px;   
}