.menusAdminContainerSegundo{
margin: 20px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menusAdminContainer h2{
 text-align: center;
}

.MenuList h2 {
 text-align: start;
}
.MenusAdminContainer {
    
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.MenuCardAdminContainer{
    
    display: flex;
    justify-content: space-around;
}
.MenuList{
    height: 100%;
    min-width: 170px;
    margin-top: 50px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.MenuList ul{
    list-style-type: none;
    padding: 0;
}
.MenuList h2{
    margin-left: 20px;
}
.MenuItemList h2{
  margin-left: 20px;
}


.MenuList ul li{
    display: grid;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}



.MenuItemsContainer {
    overflow-y: auto;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: 50px;
    max-height: 600px;
  
    
    scrollbar-width: thin;
    scrollbar-color: #ff3239 #f0f0f0;
  
    
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
      border-radius: 10px;
    }
  }


.imageItem{
    width: 200px;
    height: 110px;
    overflow: hidden;
}

.imageItem img {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.MenuItemmenu{
   
    background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 40px 20px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.MenuItemmenu.inactive {
    background-color: #d6d6d6; /* Cambia el color de fondo a gris */
  }

  .MenuItemmenu.inactive img {
    filter: grayscale(100%); /* Aplica el filtro de escala de grises al 100% */
  }

  .MenuItemmenu:hover{
    border: solid 1px #ff3239;
    transform: translateY(-5px);
  }


.priceItem {
    margin-right: 10px;
}



.resName{
margin-left: 20px;
}

.menuLi{
    display: flex;
    justify-items: center;

}

.buttonactdesMenus{
    width: 50px;
    height: 40px;
    margin-right: 10px;
    border: none;
    background: none;
  }

  .buttonactdesMenus img {
    width: 100%;
overflow:auto;
cursor: pointer;



  }



  .MenusAdmin{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 5px;
  }

  .MenusAdmin.inactive {
    background-color: #d6d6d6; /* Cambia el color de fondo a gris */
  }
  .MenusAdmin:hover{
    border-left: 3px solid #ff3239;
    
    transform: translateY(-5px);
    border-radius: 5px;
  
  }
  

  .MenusAdmin.inactive img {
    filter: grayscale(100%); /* Aplica el filtro de escala de grises al 100% */
  }


  .selectedMenu {
   
    border-left: 3px solid #ff3239;
    border-radius: 5px;
    color: #ff3239;
  }
  .perfilRestMenusAdmin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    
  }

  .perfilRestMenusAdmin img {
   margin: 15px;
    height: 100%;
    object-fit:contain;
  }
 

  .SearchMenuAdmin {
    margin-bottom: 30px;
   
display: flex;
align-items: center;
justify-content: space-between;



}
.inputSearchMenuAdmin{
display: flex;

}
.SearchMenuAdmin input[type="search"] {
  width: 100%;
flex: 1;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1rem;

}

.buttonSearchMenuAdmin button {
background-color: #ff5a5f;
color: white;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

