.RatingContainer{
    display: block;
    margin-left: 20px;
}

.RatingRestContainer{
    margin: 30px;
    background-color: #fafafa;
        padding: 5px;
        /* padding: 15px; */
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.RatingRestContainer:hover{
    transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.RatingRestContainer ul {
    list-style-type: none;
    padding: 0;
}


.RatingRestContainerTitle{
    display: flex;
    justify-content: center;
 
}