/* 
.sidebarContainerAdmin {
  display: flex;
  height: calc(100vh - 60px);
}

.OptionContainerAdmin {
  flex: 0 0 250px;
  background-color: #f8f8f8;
  padding: 20px;
  overflow-y: auto;
}

.OptionContainerAdmin ul {
  list-style-type: none;
  padding: 0;
}

.OptionContainerAdmin ul li {
  font-size: 1rem;
  color: #333;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.OptionContainerAdmin ul li.selected {
  background-color: #ff5a5f;
  color: #fff;
}

.OptionContainerAdmin ul li:hover {
  background-color: #e0e0e0;
}

.OptionContentAdmin {
  flex: 1;
  padding: 20px;
  
}

.cardRestConainerSidebarAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cardRestConainerSidebarAdmin img {
  max-width: 150px;
  
  margin-right: 10px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

.cardRestConainerSidebarAdmin h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
} */


.sidebarContainerAdmin {
  display: flex;
  height: calc(100vh - 60px); /* Ajusta según sea necesario */
  position: relative; /* Necesario para el posicionamiento correcto del botón */
}

.toggleSidebarButton {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000; /* Asegura que el botón esté sobre el contenido */
}

.OptionContainerAdmin {
  flex: 0 0 250px;
  background-color: #f8f8f8;
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animación de transición */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.OptionContainerAdmin.open {
  transform: translateX(0);
  opacity: 1;
}

.OptionContainerAdmin ul {
  list-style-type: none;
  padding: 0;
}

.OptionContainerAdmin ul li {
  font-size: 1rem;
  color: #333;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.OptionContainerAdmin ul li.selected {
  background-color: #ff5a5f;
  color: #fff;
}

.OptionContainerAdmin ul li:hover {
  background-color: #e0e0e0;
}

.OptionContentAdmin {
  flex: 1;
  padding: 20px;
  margin-left: 180px; /* Ajusta según el ancho del sidebar */
  transition: margin-left 0.3s ease; /* Añadir transición al contenido */
}

.cardRestConainerSidebarAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cardRestConainerSidebarAdmin img {
  max-width: 150px;

  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1)
}

.cardRestConainerSidebarAdmin h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .sidebarContainerAdmin {
    flex-direction: column;
    overflow-x: hidden; /* Evita el desbordamiento horizontal en dispositivos móviles */
  }

  .OptionContainerAdmin {
    transform: translateX(-100%);
    opacity: 0;
    width: 250px; /* Ancho del sidebar en dispositivos móviles */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación de transición */
  }

  .sidebarContainerAdmin.open .OptionContainerAdmin {
    transform: translateX(0);
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  }

  .OptionContentAdmin {
    margin-left: 0; /* Ajuste para que el contenido principal ocupe todo el ancho */
    transition: margin-left 0.3s ease; /* Añadir transición al contenido */
  }
}