.cardContainer {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.cardContainer a {
  text-decoration: none;
}

.cardOtherContainer {
  display: flex;
  justify-content: space-between;
}

.cardOtherItem {
  margin-right: 20px;
}