.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: space-around;
}

.cardContainer a {
  text-decoration: none;
}

.cardOtherContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardOtherItem {
  margin-right: 20px;
}


@media (max-width:800px ) {
    .cardContainer{
      flex-direction: column;
    
    }
    .cardRestContainer{
      width: 100%;
    }
}


