.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 5%;
}

.cardContainer a {
  text-decoration: none;
}

.cardOtherContainer {
  display: flex;
  flex-wrap: wrap;
}

.Restaurantes {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f0f0f0;
}

.Restaurantes h2 {
  font-size: 44px;
  color: #333;
}

@media (max-width: 800px) {
  .cardContainer {
    flex-direction: column;
  }
  
  .cardRestContainer {
    width: 100%;
  }
}
