.ContainerSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  width: 96%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.slide.active {
  opacity: 1;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  color: #c90a06;
}

.prevButton:hover,
.nextButton:hover {
  color: #f4ca0e;
}

.prevButton {
  left: 6%;
}

.nextButton {
  right: 6%;
}
